helloFramework.xcodeproj/project.xcworkspace/contents.xcworkspacedata
helloFramework.xcodeproj/project.xcworkspace/xcuserdata/suxx.xcuserdatad/UserInterfaceState.xcuserstate
helloFramework.xcodeproj/xcuserdata/suxx.xcuserdatad/xcschemes/hello.xcscheme
helloFramework.xcodeproj/xcuserdata/suxx.xcuserdatad/xcschemes/helloAng.xcscheme
helloFramework.xcodeproj/xcuserdata/suxx.xcuserdatad/xcschemes/helloBundle.xcscheme
helloFramework.xcodeproj/xcuserdata/suxx.xcuserdatad/xcschemes/helloFramework.xcscheme
helloFramework.xcodeproj/xcuserdata/suxx.xcuserdatad/xcschemes/xcschememanagement.plist
